<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Selfie Journey uses your front camera to keep one daily portrait and help you match yesterday's framing.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save portraits or your lookback film to your photo library when you choose to share them.</string>
	<key>CFBundleDisplayName</key>
	<string>Selfie Journey</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.com.strikethrough.PicaDay</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<false/>
			<key>NSUbiquitousContainerName</key>
			<string>Selfie Journey</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
</dict>
</plist>
